Repository zeyneplervesarp/swe574-javagang, pull requests merged in 2022-04, with the labels that each got.

#88 Feature/79 badge system for users ece
  backend/src/main/java/com/swe573/socialhub/config/LoadDatabase.java
  backend/src/main/java/com/swe573/socialhub/domain/Badge.java
  backend/src/main/java/com/swe573/socialhub/domain/User.java
  backend/src/main/java/com/swe573/socialhub/dto/BadgeDto.java
  backend/src/main/java/com/swe573/socialhub/dto/UserDto.java
  backend/src/main/java/com/swe573/socialhub/enums/BadgeType.java
  backend/src/main/java/com/swe573/socialhub/repository/BadgeRepository.java
  backend/src/main/java/com/swe573/socialhub/service/BadgeService.java
  backend/src/main/java/com/swe573/socialhub/service/UserService.java
  backend/src/main/java/com/swe573/socialhub/service/UserServiceApprovalService.java
  backend/src/test/java/com/swe573/socialhub/BadgeServiceTests.java
  backend/src/test/java/com/swe573/socialhub/RatingServiceTest.java
  backend/src/test/java/com/swe573/socialhub/UserServiceTests.java
  frontend/src/views/UserPage.vue
Labels: frontend, backend

#91 converted save service method to upsert
  backend/src/main/java/com/swe573/socialhub/controller/ServiceController.java
  backend/src/main/java/com/swe573/socialhub/service/ServiceService.java
  backend/src/test/java/com/swe573/socialhub/ServiceServiceUnitTests.java
Labels: backend

#90 bug fix
  frontend/src/api/register.js
  frontend/src/layout/AppHeader.vue
Labels: bug

#58 Feature/7 ratings frontend implementation ece
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/register.js
  frontend/src/views/SingleService.vue
Labels: frontend

#106 Documentation/83 uml updates class diagram ece
  diagrams/2class-diagram.jpg
  diagrams/class-diagram.jpg
  diagrams/class-diagram.png
  diagrams/class-diagram.puml
Labels: documentation, high priority, difficulty-medium, management

#121 bug fix
  backend/src/main/java/com/swe573/socialhub/config/LoadDatabase.java
Labels: bug, backend

#126 Feature/10 implement a search feature ece
  backend/src/main/java/com/swe573/socialhub/config/LoadDatabase.java
  frontend/src/api/register.js
  frontend/src/layout/AppHeader.vue
  frontend/src/router.js
  frontend/src/utils/http.js
  frontend/src/views/AdminServices.vue
  frontend/src/views/Search.vue
Labels: enhancement, frontend

#122 97 create new tag doesnt work
  frontend/src/views/CreateService.vue
  frontend/src/views/Register.vue
  frontend/src/views/SingleService.vue
Labels: bug, frontend

#119 removed ack notification after service rate
  frontend/src/views/SingleService.vue
Labels: frontend

#149 added rating summary to user profile page
  frontend/src/views/UserPage.vue
Labels: frontend
